.view {
    width: 100vw;
    height: 60vh;
}
.button-wrapper {
    display: flex;
    justify-content: center;

}
.button-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-editor {
    display: flex;
    align-items: center;
    /* flex-direction:row; */
    /* justify-content: space-between; */
    padding:  10px;
}

canvas {
    width: 600px;
    height: 400px;
}
.image {
    margin-bottom: 10px;
    background-size: 600px 400px;
}
.ulti-wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
}
.data-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
    margin: 0 50px;
}

.layout {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */

}

.drawer {
    display: none;
}

.next-button-small {
    display: none;
}


@media (max-width:800px) {
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .data-list {
        display: none;
    }
    .ulti-wrapper{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .drawer {
        display: flex;
        margin: 0 10px
    }
    .next-button-small{
        display: inline;
    }
}