.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-wrapper {
    display: flex;
    justify-content: center;
}

.debug-list {
    padding:0 20px;
}