.ulti-wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.nav-bar {
    color: red;
    display: flex;
    justify-content: flex-end;
    
}
.stepper {
    width: 50%;
}
@media (max-width:800px) {
    .program-name {
        display: none;
    }
    .stepper {
        width: 80%;
    }

}